body {
    background-image: url("../images/pokemon-background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'pokemon-font', monospace;
  }

.header {
    background: none;
}

.content {
    padding-left: 100px;
}

@font-face {
    font-family: 'pokemon-font';
    src: url('../fonts/pokemon-font.eot'); /* IE9 Compat Modes */
    src: url('../fonts/pokemon-font.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/pokemon-font.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/pokemon-font.woff') format('woff'), /* Pretty Modern Browsers */
         url('../fonts/pokemon-font.ttf')  format('truetype') /* Safari, Android, iOS */
    /* There is no SVG version of this font due to support being dropped in SVG 2 */
}

@media screen and (max-width: 1440px) {
    h4 {
        font-size: 18px;
    }

    .display-4 {
        font-size: 40px;
    }

    .jumbotron {
        padding: 30px;
    }
}